POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=oxyl
POSTGRES_HOST=tigerdb
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URI=redis://${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}